*.iml
.gradle
/.gradle/
.gradle-user/
.kotlin/
/local.properties
local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build/
/captures
.externalNativeBuild
.cxx

# Backend project
/demo/
/demo.zip
*.zip

# Android artifacts
*.apk
*.aab

# ML / large model files
*.tflite
